<div class="container-fluid"> 
    <div class="row  w-100 align-items-end">
        <div class="col">
            <button type="button" class="btn btn-outline-danger mt-2 mb-2 " (click)="logOut()">LogOut</button> 
        </div>
    </div>
 <div class="row">
     <div class="col">
        <div *ngFor= "let item of  itemList">
            <div class="row">
                <div class="col">
            <div class="border border-secondary pt-1  h-75 mb-2 text-center">{{item.name.toUpperCase()}}</div> 
            </div>
            <div class="col">
            <button (click)="addToCart(item)" class="btn btn-info mb-2">add to cart</button>
            </div>
            </div>
        </div>
     </div>


     <div class="col pt-0">
        <h1 class="font-family-sans-serif"> Add to cart</h1>
        <div *ngFor="let item of cartItem;index as i">
            <div class="row">
                <div class="col">
                <div class="border border-secondary text-center pt-1 h-75">{{item.name.toUpperCase()}}</div>
                </div>
                <div class="col mb-2"> 
                <button type="button" class="btn btn-info" (click)="addItem(item)">+</button> 
                <span class="ml-1 mr-1"> {{item.num}} </span>
                <button type="button" class="btn btn-info mr-3" (click)="reduceItem(item)">-</button>
                <button type="button" class="btn btn-secondary  text-center" (click)="deleteItem(i)">Delete</button>
            </div>
            </div>
            </div>
    
     </div>
 </div>  

    </div>
